
#terminal-hide {
  visibility:hidden;
}

.terminal-window {
  width: 800px;
  height: 600px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 100, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: left;
}

.terminal-header {
  height: 30px;
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.terminal-header {
  height: 30px;
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: grab;
}

.close-button {
  width: 12px;
  height: 12px;
  background-color: #ff5f56;
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
  box-shadow: 0 0 1px #000;
}

.terminal-body {
  flex: 1;
  padding: 10px;
  color: #00ff88;
  overflow-y: auto;
  font-size: 14px;
}

.terminal-input {
  background: none;
  border: none;
  border-top: 1px solid #444;
  color: #00ff88;
  padding: 10px;
  font-size: 14px;
  outline: none;
  width: 100%;
}